/* 
    Created on : 26-Nov-2015, 11:15:30
    Author     : UlTMATE
*/

*{
    margin: 0px;
    padding: 0px;
}

header, nav, body, section, footer{
    display: block;
}

body{
    background-color: #ffd2c2;
    cursor: default;
}

table {
    margin-top: 1em;
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

td{
    width: 10%;
}

th {
    background: #ff005c;
    color: #ffff71;
}

tr:nth-child(2n){
    background-color: #e2e2ac;
}

.info {
    margin-top: 10%;
    font: bold 3em calibri,sans-serif;
    text-align: center;
    color: #166d09;
}

